@viewport {
  width:device-width;
}

* { padding: 0; margin: 0 }
body {
  height: 100%;
  white-space: nowrap;
  font-family: NB;
  font-size: 34px;
  letter-spacing: 1px;
  width: 120em;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom:0;}
html { height: 100% }

.green { background: #72C7B3 no-repeat top right;}
.red { background: #E34B25 no-repeat top right;}
.yellow { background: #E6D01E no-repeat top right;}


.section{
  margin:0px;
    bottom:0px;
    width: 40em;
    float: left;
    height:100%;
}
.section h1{
    float:left;
    display: inline-block;
    background-color: black;
    color: white;
    padding: 0.1em;
    font-size: 2.5em;
    margin-top: 1em;
    font-weight: bolder;
    -webkit-filter: invert(100%);
}
.section h2{
     float:left;
    display: inline-block;
    background-color: black;
    color: white;
    padding: 0.1em;
    font-size: 1em;
   font-weight: bolder;
   margin-top: 0;
    -webkit-filter: invert(100%);

}
.section p{
    display: block;
    background-color: black;
    color:#fff;
    padding: 0.1em;
    font-size: 2em;
    float:left;
    height:1.4em;
 /*  margin-top: 5em;*/
}

 .smallp{
    display: block;
    background-color: black;
    color:#fff;
    padding: 0.1em;
    font-size: 1em;
    float:left;
    height:1.4em;
    margin-bottom: 0.5em;
}

.smallh{
  margin-top:2.5em;
  font-size: 1em;
}


img{
  float:left;
/*  display: inline-block;
  background-color: white;*/
  height:2em;
  width:;
}


footer{
  display: inline-block;
  color: black;
  position: fixed;
  left:23em;
  bottom:1em;
  font-size:0.5em;

}

@font-face {
 font-family: NN;
 font-style: normal;
 font-weight: 900;
 src: url('../NN.woff')  format('woff');
 }

 @font-face{
  font-family: NB;
  font-style: bold;
  font-weight: 900;
  src: url('../NB.woff') format('woff');
 }











textarea{
    background: white;
    color: #cecaca;
    width: 36em;
    height: 3em;
    display:block;
    font-size:0.5em;
    padding-left:20px;
    padding-right:20px;
    padding-top:12px;
    margin-bottom:20px;
    overflow:hidden;
}

input {
    width: 26em;
    height: 3em;
    display:block;
    font-size:0.5em;
    color: #cecaca;
    padding-left:20px;
    padding-right:20px;
    margin-bottom:20px;
    background: white ;
}

input[type=submit] {
    cursor:pointer;
}


.btn {
    width: 138px;
    height: 44px;
    background: black;
    border-color: white;
    color: white;
    font-size: 0.8em;
}

.btn:hover {
    border: 1px solid #253737;
    background: #E6D01E ;
    color: #fff;
 }


