@font-face {
 font-family: NN;
 font-style: normal;
 font-weight: 900;
 src: url('../fonts/NN.woff')  format('woff');
 }
 @font-face{
  font-family: NB;
  font-style: bold;
  font-weight: 900;
  src: url('../fonts/NB.woff') format('woff');
 }


html { height: 100%; width:100%; }
body {
  height: 100%;
  font-family: NB;
  letter-spacing: 1px;
  width: 300%;
  }

@media only screen and (min-width: 480px) and (max-width: 768px) {
  body{
    font-size: 22px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 990px) {
  body{
    font-size: 26px;

  }
}

@media only screen and (min-width: 990px) {
  body{
    font-size: 36px;
  }
}


.green { background: #72C7B3;}
.red { background: #E34B25;}
.yellow { background: #E6D01E ;}


.section{
    bottom:0px;
    width: 33.33%;
    float: left;
    height:100%;
    padding:2.5em;
    }

.section h1{
    display: inline-block;
    background-color: white;
    color: black;
    padding: 0.1em;
    font-size: 2.5em;
    margin:0;
    margin-bottom: 0.1em;
    }

.section .black {
  color: white;
  background-color: black;
}

.section h2{
    display: inline-block;
    background-color: white;
    color: black;
    padding: 0.1em;
    font-size: 1em;
    margin:0;
   }

h1, h2, p{
  padding-left: 5px;
  padding-right: 5px;

}

.section p{
    display: inline-block;
    background-color: black;
    color:#fff;
    font-size: 1em;
    height:1.4em;
    margin-bottom: 5px;
    }


.annoying{
    margin: 0 auto;
    display:inline-block;
}



img{
  display: block;
  height:2em;}


textarea{

    background: white;
    color: #cecaca;
    min-width: 16em;
    max-width: 100%;
    height: 3em;
    display:block;
    font-size: 1em;
    margin-bottom: 5px;
    overflow:hidden;
    padding-left: 5px;
}

input {
    min-width: 16em;
    max-width: 100%;
    height: 1.5em;
    display:block;
    font-size: 1em;
    color: #cecaca;
    margin-bottom:5px;
    background: white ;
    clear:left;
    padding-left: 5px;
}

input[type=submit] {
    cursor:pointer;
}


.btn {
    width: 3em;
    height: 1.3em;
    line-height:1;
    background: white;
    border-color: white;
    color: #72C7B3;
    font-size: 1.2em;
}

.btn:hover {
    border: 1px solid #253737;
    background: #E6D01E ;
    color: #fff;
 }


